.accueil {
    height: 987px;
    padding: 50px 0;
    overflow-x: initial;

    @media screen and (max-width: $breakpoint-ml) {
        height: fit-content;
        padding: 0 0 25px 0;
    }

    .wrapper-large {
        position: relative;

        @media screen and (max-width: $breakpoint-ml) {
            padding: 0;
        }
    }

    video {
        display: block;
        position: inherit;
        max-width: 1015px;
        height: 572px;
        z-index: -2;
        border: 2px solid var(--color-black);
        box-shadow: 0px 11px 4px 0px rgba(0, 0, 0, 0.25);

        @media screen and (max-width: $breakpoint-ml) {
            max-width: 100%;
            height: fit-content;
        }
    }

    &::after {
        content: '';
        position: absolute;
        display: block;
        height: 2px;
        background-color: var(--color-black);
        width: 50%;
        margin-top: 350px;

        @media screen and (max-width: $breakpoint-ml) {
            display: none;
        }
    }
}

.accueil-absolute {
    position: absolute;
    bottom: 7%;
    left: 0;
    width: 100%;

    .wrapper {
        display: flex;
        justify-content: flex-end;
    }

    @media screen and (max-width: $breakpoint-ml) {
        position: initial;
        width: 100%;

        .wrapper {
            display: flex;
            justify-content: center;
            padding: 0;
        }
    }
}

.accueil-content {
    min-width: 1106px;
    position: relative;
    padding: 80px 65px;
    box-shadow: 0px 11px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    gap: 0;

    @media screen and (max-width: $breakpoint-ml) {
        min-width: 100%;
        padding: 60px 50px;
    }

    @media screen and (max-width: $breakpoint-sm) {
        align-items: center;
    }

    h1 {
        color: var(--color-white);
        margin: 0;
    }

    .btn {
        position: absolute;
        bottom: -40px;
        right: 90px;
    }
}

.accueil-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.95;
    background: var(--color-bg-primary);
    mix-blend-mode: multiply;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.tagline {
    padding: 10px 45px;
    background-color: var(--color-primary);
    filter: drop-shadow(13px 11px 4px #000);
    text-align: center;
    width: fit-content;
    margin-left: auto;
    transform: rotate(-3deg);

    @media screen and (max-width: $breakpoint-sm) {
        padding: 10px 25px;
        margin-left: 0;
        margin-top: 5px;
    }
}
