/* ==========================================================================
   carousel / component
   ========================================================================== */

.swiper-pagination-bullets {
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;

    .swiper-pagination-bullet-active {
        border-width: calc(var(--size, 10px) / 2);
        background: var(--color-white);
    }
}
.swiper-pagination-bullet {
    --size: 25px;

    border: 2px solid var(--color-secondary);
    border-radius: 100%;
    height: var(--size);
    margin: 0 20px;
    transition: border 0.4s ease-out;
    width: var(--size);
}

.swiper {
    width: 100%;
}

.swiper-slide {
    width: 100%;
    img {
        width: 100%;
        display: block;
    }
}

.swiper-legende {
    position: relative;
    .legende {
        position: absolute;
    }
}

.swiper-galerie {
    max-width: 550px;
    aspect-ratio: 1/1;
    margin: 0;
    border: 2px solid var(--color-black);

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.swiper-responsive {
    margin: 175px 0 120px;
    border: 2px solid var(--color-black);
    height: 715px;

    .swiper-slide {
        background-color: #bfbfbf;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 175px;

        img {
            width: initial;
        }

        .mockup-mac {
            margin-bottom: 120px;
            max-width: 1500px;
        }
    }
}
