.contact {
    padding-top: 70px;

    @media screen and (max-width: $breakpoint-ml) {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        gap: 60px;

        @media screen and (max-width: $breakpoint-ml) {
            flex-direction: column;
            padding: 0 25px;
        }
    }

    .wrapper::before {
        content: '';
        width: 2px;
        margin-top: auto;
        height: 580px;
        order: 2;
        background-color: var(--color-black);

        @media screen and (max-width: $breakpoint-ml) {
            display: none;
        }
    }
}

.info {
    order: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 200px;

    @media screen and (max-width: $breakpoint-ml) {
        margin-bottom: 0;
    }

    h1 {
        margin-bottom: 0;
    }

    .social {
        justify-content: start;

        li {
            a {
                background-color: rgba(0, 0, 0, 0.5);
                padding: 12px;
                border-radius: 50px;
            }
        }

        @media screen and (max-width: $breakpoint-sm) {
            gap: 20px;
        }
    }
}

.form {
    order: 3;
}
