/* ==========================================================================
   Hero
   ========================================================================== */

.hero-projet {
    position: relative;
    height: 680px;

    @media screen and (max-width: $breakpoint-sm) {
        height: 500px;
    }

    img {
        height: 100%;
        position: absolute;
        width: 100%;
        object-fit: cover;
        object-position: 0 60%;
        z-index: -1;
    }

    .wrapper {
        height: 100%;
        padding: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h1 {
            color: var(--color-white);
        }

        .tagline {
            margin-left: initial;
        }

        @media screen and (max-width: 1580px) {
            padding: 50px;
        }

        @media screen and (max-width: $breakpoint-sm) {
            padding: 25px;
        }
    }
}

/* ==========================================================================
   Section information
   ========================================================================== */

.info-projet {
    padding-top: 170px;

    .info-flex {
        margin-bottom: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 1680px) {
            flex-direction: column;
            gap: 45px;

            .info-content {
                width: 100%;
            }
        }

        @media screen and (max-width: $breakpoint-sm) {
            margin-bottom: 75px;
        }

        .swiper {
            margin: 0;
        }

        .card-margin-left {
            padding: 0 0 100px 0;
            max-width: 600px;

            @media screen and (max-width: 1580px) {
                margin-left: 100px;
            }

            @media screen and (max-width: 870px) {
                margin-left: 0;
            }
        }

        .legende-absolute {
            padding: 12px 20px;
            top: -50px;

            @media screen and (max-width: 1050px) {
                right: -100px;
            }

            @media screen and (max-width: $breakpoint-sm) {
                right: 8px;
                top: -80px;
            }
        }

        .absolute-bottom {
            top: initial;
            bottom: -46px;
            right: -92px;

            @media screen and (max-width: $breakpoint-sm) {
                right: 150px;
            }
        }

        .card-secondaire {
            position: relative;
            margin-top: -50px;
            z-index: 3;
            left: unset;
            bottom: unset;

            &::before {
                content: none;
            }

            @media screen and (max-width: 1050px) {
                ul {
                    padding-right: 150px;
                }
            }

            @media screen and (max-width: $breakpoint-sm) {
                margin-left: 50px;
                margin-top: 85px;
            }
        }

        video {
            max-width: 676px;
            border: 2px solid var(--color-black);
            rotate: -7.5deg;

            @media screen and (max-width: $breakpoint-sm) {
                width: 100%;
            }
        }
    }

    .info-flex:nth-child(2n) {
        .card-margin-left {
            margin-left: 320px;

            @media screen and (max-width: $breakpoint-sm) {
                margin-left: 0;
            }
        }
        .card-secondaire {
            margin-top: -100px;
            max-width: 672px;
        }
    }
}

/* ==========================================================================
   Section Integration 
   ========================================================================== */

.integration {
    padding-top: 10px;
    .card {
        max-width: 990px;
        margin-bottom: 50px;
    }

    .btn {
        display: block;
        margin: 25px auto 110px;
        rotate: 4.5deg;
    }

    iframe {
        @media screen and (max-width: $breakpoint-ml) {
            height: 450px;
            margin-top: 50px;
        }

        @media screen and (max-width: $breakpoint-ml) {
            height: 300px;
            margin-top: 25px;
        }
    }
}

.flex-modal {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1680px) {
        gap: 30px;
    }

    @media screen and (max-width: $breakpoint-ml) {
        flex-direction: column;
        align-items: center;
    }
}

.modal-conteneur {
    position: relative;
    width: fit-content;

    .icon {
        position: absolute;
        z-index: 2;
        color: var(--color-white);
        right: 20px;
        top: 20px;
        pointer-events: none;
    }

    p {
        margin: 0;
        padding: 0 20px;
        background-color: var(--color-primary);
        box-shadow: 13px 11px 4px 0px #000;
    }
}
