/* ==========================================================================
   Hero
   ========================================================================== */

.hero-projet {
    position: relative;
    height: 680px;

    img {
        height: 100%;
        position: absolute;
        width: 100%;
        object-fit: cover;
        object-position: 0 60%;
        z-index: -1;
    }

    .wrapper {
        height: 100%;
        padding: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h1 {
            color: var(--color-white);
        }

        .tagline {
            margin-left: initial;
        }
    }
}

/* ==========================================================================
   Section information
   ========================================================================== */

.info-projet {
    padding-top: 170px;

    .info-flex {
        margin-bottom: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .swiper {
            margin: 0;
        }

        .card-margin-left {
            padding: 0 0 100px 0;
            max-width: 600px;
        }

        .legende-absolute {
            padding: 12px 20px;
            top: -50px;
        }

        .absolute-bottom {
            top: initial;
            bottom: -46px;
            right: -92px;
        }

        .card-secondaire {
            position: initial;
            margin-top: -50px;
            z-index: 3;

            &::before {
                content: none;
            }
        }

        video {
            max-width: 676px;
            border: 2px solid var(--color-black);
            transform: rotate(-5.75deg);
        }
    }

    .info-flex:nth-child(2n) {
        .card-margin-left {
            margin-left: 320px;
        }
        .card-secondaire {
            margin-top: -100px;
            max-width: 672px;
        }
    }
}

/* ==========================================================================
   Section Integration 
   ========================================================================== */

.integration {
    .card {
        max-width: 990px;
        margin-bottom: 50px;
    }

    .btn {
        display: block;
        margin: 0 auto 110px;
        transform: rotate(4.5deg);
    }
}

.flex-modal {
    display: flex;
    justify-content: space-between;
}

.modal-conteneur {
    position: relative;
    width: fit-content;

    .icon {
        position: absolute;
        z-index: 2;
        color: var(--color-white);
        right: 20px;
        top: 20px;
        pointer-events: none;
    }

    p {
        margin: 0;
        padding: 0 20px;
        background-color: var(--color-primary);
        box-shadow: 13px 11px 4px 0px #000;
    }
}
