.projets {
    padding: 100px 0 165px 0;

    @media screen and (max-width: 1450px) {
        padding: 50px 0 85px 0;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 200px;

        @media screen and (max-width: 1450px) {
            gap: 100px;
        }

        @media screen and (max-width: $breakpoint-sm) {
            gap: 50px;
            padding: 0;
        }
    }

    h2 {
        margin: 0;

        @media screen and (max-width: $breakpoint-sm) {
            padding: 0 25px;
        }
    }
}

/* ==========================================================================
   Fiche projet
   ========================================================================== */

.projet {
    display: flex;
    flex-direction: column;

    h4 {
        max-width: 690px;
        margin-bottom: 10px;
    }

    img {
        border: 2px solid var(--color-black);
        max-width: 777px;
        object-fit: cover;

        @media screen and (max-width: 1450px) {
            max-width: 100%;
            width: 100%;
        }
    }
}

.projet-flex {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @media screen and (max-width: 1450px) {
        margin-top: 25px;
        flex-direction: column;
        align-items: center;
    }

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0.95;
        background: var(--color-bg-primary);
        mix-blend-mode: multiply;
        z-index: -1;
        width: 120%;
        height: 400px;

        @media screen and (max-width: 1450px) {
            width: 100%;
            height: 250px;
        }

        @media screen and (max-width: $breakpoint-sm) {
            height: 200px;
        }
    }

    .image-absolute {
        position: absolute;
        left: 40%;
        top: -180px;
        max-width: 250px;
        aspect-ratio: 1/1;
        rotate: 7.5deg;
        z-index: 3;
        object-fit: cover;

        @media screen and (max-width: 1700px) {
            display: none;
        }
    }
}

.projet-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    height: 400px;

    @media screen and (max-width: 1450px) {
        height: 250px;
        width: 100%;
        align-items: center;
        text-align: center;
        gap: 10px;
        padding: 15px 0;
    }

    @media screen and (max-width: $breakpoint-sm) {
        height: 200px;
    }

    @media screen and (max-width: $breakpoint-sm) {
        padding: 0 25px;
    }

    p {
        color: var(--color-white);
        max-width: 620px;
        margin: 0;
    }

    .btn {
        rotate: -4.5deg;
    }
}

.projet-type {
    background-color: var(--color-primary);
    padding: 0 20px;
    box-shadow: -13px 11px 4px 0px var(--color-black);
    margin: 0 0 0 250px;
    width: 35%;
    z-index: -1;
    @media screen and (max-width: 1450px) {
        width: 100%;
        margin: 0;
    }
}

.projet-header {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1450px) {
        flex-direction: column;
    }

    @media screen and (max-width: $breakpoint-sm) {
        padding: 0 25px;
    }
}

.projet-logiciels {
    display: flex;
    gap: 30px;
    background-color: var(--color-primary);
    box-shadow: 13px 11px 4px 0px var(--color-black);
    padding: 13px 30px;
    width: fit-content;

    @media screen and (max-width: 1450px) {
        gap: 15px;
    }
}

.images-colonne {
    margin-bottom: -56px;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 106px;

    img {
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    @media screen and (max-width: 1700px) {
        display: none;
    }
}

/* ==========================================================================
   Fiche projet inverse
   ========================================================================== */

.projet:nth-child(2n + 1) {
    align-items: flex-end;

    .projet-flex {
        flex-direction: row-reverse;

        @media screen and (max-width: 1450px) {
            margin-top: 25px;
            flex-direction: column;
            align-items: center;
        }

        .image-absolute {
            position: absolute;
            left: initial;
            right: 40%;
            rotate: -7.5deg;
            z-index: 3;
            object-fit: cover;
        }

        &::before {
            left: initial;
            right: 0;
            width: 120%;

            @media screen and (max-width: 1450px) {
                width: 100%;
            }
        }
    }

    .projet-header {
        flex-direction: row-reverse;

        @media screen and (max-width: 1450px) {
            flex-direction: column;
            align-items: end;
        }

        h4 {
            text-align: right;
        }
    }

    .projet-content {
        align-items: start;
        text-align: left;

        @media screen and (max-width: 1450px) {
            height: 250px;
            width: 100%;
            align-items: center;
            text-align: center;
            gap: 10px;
            padding: 15px 0;
        }

        @media screen and (max-width: $breakpoint-sm) {
            padding: 0 25px;
            height: 200px;
        }
    }

    .projet-type {
        text-align: right;
        padding: 0 20px;
        box-shadow: 13px 11px 4px 0px var(--color-black);
        margin: 0 250px 0 0;
        width: 35%;

        @media screen and (max-width: 1450px) {
            width: 100%;
            margin: 0;
        }
    }
}
