.hero {
    position: relative;
    padding: 100px 0 100px 0;
    display: flex;
    align-items: center;

    img {
        max-width: 623px;
    }
}
.hero::after {
    content: "";
    position: absolute;
    bottom: 9.5%;
    right: 0;
    height: 2px;
    width: 60%;
    background-color: var(--color-black);
}

.hero-content {
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.graffiti {
    display: flex;
    align-items: center;
    justify-content: center;
    
    img{
        height: fit-content;
    }
}

.resume {
    h2 {
        margin-bottom: 100px;
    }
}