/* ==========================================================================
   WRAPPER / ELEMENT
   ========================================================================== */

.wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--spacing-xl);
}
