/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-primary: #FFC81E;
    --color-secondary: #3CC9A9;

    --color-bg-primary: #404040;
    --color-bg-secondary: #BFB8AA;
}
