/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Fira Sans', sans-serif;

    --font-size-content: 3.2rem;

    /// Grosseur des textes
    --font-size-h1: 11.2rem;
    --font-size-h2: 8.5rem;
    --font-size-h3: 4.8rem;
    --font-size-btn: 3.6rem;
}
