/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Fira Sans', sans-serif;

    --font-size-content: 3.2rem;
    --font-size-content-tablette: 2.4rem;
    --font-size-content-mobile: 1.6rem;

    /// Grosseur des textes
    --font-size-h1: 11.2rem;
    --font-size-h1-tablette: 9.6rem;
    --font-size-h1-mobile: 5.6rem;
    --font-size-h2: 8.5rem;
    --font-size-h2-mobile: 3.6rem;
    --font-size-h3: 4.8rem;
    --font-size-h3-tablette: 3.6rem;
    --font-size-h3-mobile: 2.4rem;
    --font-size-btn: 3.6rem;
    --font-size-btn-tablette: 2.4rem;
    --font-size-btn-mobile: 1.6rem;
}
