{% include '_partials/_header.html' %}
<section class="hero-projet" data-scrolly="scale">
    <img src="assets/images/hero_baie-sainte-catherine.jpg" alt="Baie-Sainte-Catherine" />
    <div class="wrapper" data-scrolly="fromLeft">
        <h1>Refonte du site web de la Baie-Sainte-Catherine</h1>
        <h3 class="tagline">Développement web | Design</h3>
        <a href="https://projets.krobert.ca/baie-sainte-catherine/" target="_blank" class="btn">Visiter le site web</a>
    </div>
</section>

<section class="info-projet">
    <div class="wrapper">
        <div class="info-flex">
            <div class="info-content">
                <div class="card card-margin-left" data-scrolly="fromLeft">
                    <h3 class="legende legende-absolute">Travail étudiant</h3>
                    <h3 class="legende legende-absolute absolute-bottom" data-scrolly="fromRight">Crédit : unsplash</h3>
                    <h3 class="legende">Description</h3>
                    <p>Pour ce projet, j'ai refait un site de A à Z en commençant par le design, pour ensuite le programmer.</p>
                </div>
                <div class="card card-secondaire" data-scrolly="fromLeft">
                    <h3 class="legende">Logiciels</h3>
                    <ul>
                        <li>Figma</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                    </ul>
                </div>
            </div>

            <video src="assets/videos/video_baie-sainte-catherine.mp4" loop="loop" autoplay="autoplay" muted playsinline data-scrolly="scale"></video>
        </div>

        <div class="info-flex">
            <div class="swiper-legende" data-scrolly="fromLeft">
                <h3 class="legende">Galerie</h3>
                <div class="carousel swiper swiper-galerie" data-component="Carousel" data-loop data-autoplay data-gap="0">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="assets/images/code_baie-sainte-catherine.jpg" alt="Code" /></div>
                        <div class="swiper-slide"><img src="assets/images/calendrier_baie-sainte-catherine.jpg" alt="Calendrier" /></div>
                        <div class="swiper-slide"><img src="assets/images/carousel_baie-sainte-catherine.jpg" alt="Carousel" /></div>
                    </div>

                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div>
                <div class="card card-margin-left" data-scrolly="fromRight">
                    <h3 class="legende">Processus créatif</h3>
                    <p>Pour ce projet, j'ai commencé par rechercher une esthétique qui s'inspire de la nature tout en restant professionnelle.</p>
                </div>

                <div class="card card-secondaire" data-scrolly="fromLeft">
                    <h3 class="legende">Compétence</h3>
                    <p>
                        Ce site m'a permis d'apprendre comment concevoir un design fonctionnel pour la programmation web, ainsi que quelques composantes
                        JavaScript.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="integration">
    <div class="wrapper">
        <div class="card" data-scrolly="fromLeft">
            <h3 class="legende">Intrégration web</h3>
            <p>
                Grâce à VS Code et GitHub, j’ai développé cette page avec HTML, CSS et JavaScript. L’entièreté du site est responsive et comporte des animations
                en scrolly.
            </p>
        </div>

        <div class="flex-modal">
            <div class="modal-conteneur" data-component="Modal">
                <svg class="icon icon--md">
                    <use xlink:href="#icon-zoom"></use>
                </svg>
                <img src="assets/images/code_baie-sainte-catherine.jpg" alt="Code HTML" class="modal-image" data-scrolly="scale" />
                <p data-scrolly="fromLeft">Exemple de sctructure HTML</p>
                <div class="modal">
                    <svg class="icon icon--md modal-x">
                        <use xlink:href="#icon-x"></use>
                    </svg>
                    <img src="assets/images/code_baie-sainte-catherine.jpg" alt="Code HTML" class="modal-content" />
                </div>
            </div>

            <div class="modal-conteneur" data-component="Modal">
                <svg class="icon icon--md">
                    <use xlink:href="#icon-zoom"></use>
                </svg>
                <img src="assets/images/code-scss.jpg" alt="Code SCSS" class="modal-image" data-scrolly="scale" />
                <p data-scrolly="fromLeft">Exemple de sctructure SCSS</p>
                <div class="modal">
                    <svg class="icon icon--md modal-x">
                        <use xlink:href="#icon-x"></use>
                    </svg>
                    <img src="assets/images/code-scss.jpg" alt="Code HTML" class="modal-content" />
                </div>
            </div>

            <div class="modal-conteneur" data-component="Modal">
                <svg class="icon icon--md">
                    <use xlink:href="#icon-zoom"></use>
                </svg>
                <img src="assets/images/code-javascript.jpg" alt="Code JavaScript" class="modal-image" data-scrolly="scale" />
                <p data-scrolly="fromLeft">Exemple de JavaScript</p>
                <div class="modal">
                    <svg class="icon icon--md modal-x">
                        <use xlink:href="#icon-x"></use>
                    </svg>
                    <img src="assets/images/code-javascript.jpg" alt="Code HTML" class="modal-content" />
                </div>
            </div>
        </div>

        <div class="swiper-legende" data-scrolly="scale">
            <h3 class="legende">Responsive</h3>
            <div class="carousel swiper swiper-responsive" data-component="Carousel" data-loop data-gap="0" data-autoplay="">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="assets/images/cell1_baie-sainte-catherine.png" alt="Cellulaire1" />
                        <img src="assets/images/cell2_baie-sainte-catherine.png" alt="Cellulaire2" class="swiper-img-responsive-2" />
                        <img src="assets/images/cell3_baie-sainte-catherine.png" alt="Cellulaire3" class="swiper-img-responsive" />
                    </div>
                    <div class="swiper-slide"><img src="assets/images/mac_baie-sainte-catherine.png" alt="Mockup Mac" class="mockup-mac" /></div>
                    <div class="swiper-slide"><img src="assets/images/tablette_baie-sainte-catherine.png" alt="Mockup Tablette" /></div>
                </div>

                <div class="swiper-pagination"></div>
            </div>
        </div>

        <a href="https://projets.krobert.ca/baie-sainte-catherine/" target="_blank" class="btn" data-scrolly="scale">Visiter le site web</a>
    </div>
</section>
{% include '_partials/_footer.html' %}
