{% include '_partials/_header.html' %}
<section class="hero-projet" data-scrolly="scale">
    <img src="assets/images/presentation_chatastrophe.jpg" alt="Chatastrophe" />
    <div class="wrapper" data-scrolly="fromLeft">
        <h1>Chatastrophe <br />en cuisine</h1>
        <h3 class="tagline">Animation/Modélisation 3D</h3>
        <a href="https://www.youtube.com/watch?v=GsrwwbV3jU4&t=2s" target="_blank" class="btn">Voir la vidéo</a>
    </div>
</section>

<section class="info-projet">
    <div class="wrapper">
        <div class="info-flex">
            <div class="info-content">
                <div class="card card-margin-left description" data-scrolly="fromLeft">
                    <h3 class="legende legende-absolute">Travail étudiant</h3>
                    <h3 class="legende">Description</h3>
                    <p>
                        Avec cette animation, j'ai voulu créer une ambiance légère avec un soupçon d'humour, tout en explorant des techniques que je ne
                        connaissais pas auparavant.
                    </p>
                </div>
                <div class="card card-secondaire" data-scrolly="fromLeft">
                    <h3 class="legende">Logiciels</h3>
                    <ul>
                        <li>Blender</li>
                        <li>Photoshop</li>
                    </ul>
                </div>
            </div>

            <video src="assets/videos/Kevin_Robert_Anim_TP2.mp4" loop="loop" autoplay="autoplay" muted playsinline data-scrolly="scale"></video>
        </div>

        <div class="info-flex">
            <div class="swiper-legende" data-scrolly="fromLeft">
                <h3 class="legende">Galerie</h3>
                <div class="carousel swiper swiper-galerie" data-component="Carousel" data-loop data-autoplay data-gap="0">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="assets/images/scene_chatastrophe.jpg" alt="Scène Blender" /></div>
                        <div class="swiper-slide"><img src="assets/images/feu_chatastrophe.jpg" alt="Feu" /></div>
                        <div class="swiper-slide"><img src="assets/images/chat_chatastrophe.jpg" alt="Chat" /></div>
                    </div>

                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div>
                <div class="card card-margin-left" data-scrolly="fromRight">
                    <h3 class="legende">Processus créatif</h3>
                    <p>J'ai cherché à m'inspirer des publicités de cuisine en animation 3D, en recherchant une esthétique joyeuse et légère.</p>
                </div>

                <div class="card card-secondaire" data-scrolly="fromLeft">
                    <h3 class="legende">Compétence</h3>
                    <p>
                        Grâce à cette animation, j'ai appris à créer une structure squelettique pour mes personnages sur Blender. De plus, j'ai amélioré mes
                        compétences en réalisation en utilisant davantage de plans de caméra.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="integration">
    <div class="wrapper">
        <div class="card" data-scrolly="fromLeft">
            <h3 class="legende">Interface de Blender</h3>
            <p>Dans ce projet, j'ai expérimenté avec les textures, la cinématique inverse, ainsi que la structure de mon projet.</p>
        </div>

        <div class="flex-modal">
            <div class="modal-conteneur" data-component="Modal">
                <svg class="icon icon--md">
                    <use xlink:href="#icon-zoom"></use>
                </svg>
                <img src="assets/images/texture_chatastrophe.jpg" alt="Texture" class="modal-image" data-scrolly="scale" />
                <p data-scrolly="fromLeft">Texture</p>
                <div class="modal">
                    <svg class="icon icon--md modal-x">
                        <use xlink:href="#icon-x"></use>
                    </svg>
                    <img src="assets/images/texture_chatastrophe.jpg" alt="Texture" class="modal-content" />
                </div>
            </div>

            <div class="modal-conteneur" data-component="Modal">
                <svg class="icon icon--md">
                    <use xlink:href="#icon-zoom"></use>
                </svg>
                <img src="assets/images/ik_chatastrophe.jpg" alt="Cinématique inverse" class="modal-image" data-scrolly="scale" />
                <p data-scrolly="fromLeft">Cinématique inverse</p>
                <div class="modal">
                    <svg class="icon icon--md modal-x">
                        <use xlink:href="#icon-x"></use>
                    </svg>
                    <img src="assets/images/ik_chatastrophe.jpg" alt="Cinématique inverse" class="modal-content" />
                </div>
            </div>

            <div class="modal-conteneur" data-component="Modal">
                <svg class="icon icon--md">
                    <use xlink:href="#icon-zoom"></use>
                </svg>
                <img src="assets/images/structure_chatastrophe.jpg" alt="Structure" class="modal-image" data-scrolly="scale" />
                <p data-scrolly="fromLeft">Structure du projet</p>
                <div class="modal">
                    <svg class="icon icon--md modal-x">
                        <use xlink:href="#icon-x"></use>
                    </svg>
                    <img src="assets/images/structure_chatastrophe.jpg" alt="Structure" class="modal-content" />
                </div>
            </div>
        </div>

        <div class="swiper-legende" data-scrolly="scale">
            <h3 class="legende">Storyboard</h3>
            <div class="carousel swiper swiper-responsive" data-component="Carousel" data-loop data-gap="0" data-autoplay="">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="assets/images/storyboard1_chatastrophe.jpg" alt="Storyboard" />
                    </div>
                    <div class="swiper-slide"><img src="assets/images/storyboard2_chatastrophe.jpg" alt="Storyboard" /></div>
                    <div class="swiper-slide"><img src="assets/images/storyboard3_chatastrophe.jpg" alt="Storyboard" /></div>
                </div>

                <div class="swiper-pagination"></div>
            </div>
        </div>

        <a href="https://www.youtube.com/watch?v=GsrwwbV3jU4&t=2s" target="_blank" class="btn" data-scrolly="scale">Voir la vidéo</a>
    </div>
</section>
{% include '_partials/_footer.html' %}
