{% include '_partials/_header.html' %}
<section class="contact">
    <div class="wrapper">
        <div class="info">
            <h1 data-scrolly="fromLeft">Contactez-moi</h1>
            <div class="social" data-scrolly="fromRight">
                <li>
                    <a href="https://codepen.io/KevinRobert" target="_blank"
                        ><svg class="icon icon--lg">
                            <use xlink:href="#icon-codepen"></use>
                        </svg>
                    </a>
                </li>

                <li>
                    <a href="https://www.instagram.com/kevinrobert127/" target="_blank"
                        ><svg class="icon icon--lg">
                            <use xlink:href="#icon-instagram"></use>
                        </svg>
                    </a>
                </li>

                <li>
                    <a href="https://www.youtube.com/channel/UCYV52zMLdYma_gGkzphGvjQ" target="_blank"
                        ><svg class="icon icon--lg">
                            <use xlink:href="#icon-youtube"></use>
                        </svg>
                    </a>
                </li>

                <li>
                    <a href="https://github.com/KevinRobert1426" target="_blank"
                        ><svg class="icon icon--lg">
                            <use xlink:href="#icon-github"></use></svg>
                        </a>
                </li>
            </div>

            <div class="card" data-scrolly="scale">
                <h3 class="legende">Informations</h3>
                <ul>
                    <li>info@krobert.ca</li>
                    <li>(438)-392-2668</li>
                    <li><a href="#">CV</a></li>
                </ul>
            </div>
        </div>

        <div class="form" data-scrolly="fromRight">
            <form action="https://getform.io/f/3a8db9f3-697c-4de3-a4d7-b3b0cc999efd" method="POST" class="form" autocomplete="off" data-component="Form">
                <div class="form__body">
                    <fieldset class="grid">
                        <div class="input">
                            <label class="input__label" for="fullname">Nom</label>
                            <input class="input__element" type="text" name="fullname" id="fullname" placeholder="ex.: Kevin" required />
                        </div>

                        <div class="input">
                            <label class="input__label" for="email">Adresse courriel</label>
                            <input class="input__element" type="email" name="email" id="email" placeholder="exemple@courriel.com" required />
                        </div>

                        <div class="input textarea u-grid-fullwidth">
                            <label class="input__label" for="comment">Message</label>
                            <textarea class="input__element" name="comment" id="comment" required></textarea>
                        </div>
                    </fieldset>
                    <footer class="form__footer">
                        <input type="submit" value="Envoyer" class="btn"></input>
                    </footer>
                </div>
                <div class="form__confirmation">
                    <h2>Merci</h2>
                    <p>Votre formulaire a bien été envoyé.</p>
                </div>
            </form>
        </div>
    </div>
</section>
{% include '_partials/_footer.html' %}
