{% include '_partials/_header.html' %}
<section class="contact">
    <div class="wrapper">
        <div class="info">
            <h1>Contactez-moi</h1>
            <div class="social">
                <li>
                    <a href="#"
                        ><svg class="icon icon--lg">
                            <use xlink:href="#icon-codepen"></use>
                        </svg>
                    </a>
                </li>

                <li>
                    <a href="#"
                        ><svg class="icon icon--lg">
                            <use xlink:href="#icon-instagram"></use>
                        </svg>
                    </a>
                </li>

                <li>
                    <a href="#"
                        ><svg class="icon icon--lg">
                            <use xlink:href="#icon-youtube"></use>
                        </svg>
                    </a>
                </li>
            </div>

            <div class="card">
                <h3 class="legende">Informations</h3>
                <ul>
                    <li>info@krobert.ca</li>
                    <li>(438)-392-2668</li>
                    <li><a href="#">CV</a></li>
                </ul>
            </div>
        </div>

        <div class="form">
            <p>Il y aura un formulaire WordPress</p>
        </div>
    </div>
</section>
{% include '_partials/_footer.html' %}
