{% include '_partials/_header.html' %}
<section class="hero">
    <img src="assets/images/bg-hero.jpg" alt="Skieur étoile" />
    <div class="wrapper">
        <h1>projet</h1>
        <p>descriptions</p>
    </div>
</section>

<section class="details">
    <div class="wrapper">
        <h3>date de création</h3>
        <p>sdfdsa</p>

        <h3>Logiciels utilisés</h3>
        <p>dfsaasdfsa</p>

        <h3>Cours du projet</h3>
        <p>fdfdasfadsfas</p>

        <h3>Type de projet</h3>
        <p>fadsasdfdf</p>
    </div>

    <div class="carousel swiper" data-component="Carousel" data-autoplay="">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="assets/images/bg-hero.jpg" alt="Skieur étoile" />
            </div>
            <div class="swiper-slide">
                <img src="assets/images/bg-hero.jpg" alt="Skieur étoile" />
            </div>
            <div class="swiper-slide">
                <img src="assets/images/bg-hero.jpg" alt="Skieur étoile" />
            </div>
        </div>

        <!-- N'oubliez pas votre pagination -->
        <div class="swiper-pagination"></div>
    </div>
</section>
{% include '_partials/_footer.html' %}
