{% include '_partials/_header.html' %}

<!-- accueil -->
<section class="accueil">
    <div class="wrapper wrapper-large">
        <video src="assets/videos/Kevin_Robert_Anim_TP2.mp4" loop="loop" autoplay="autoplay" muted playsinline></video>
    </div>
    <div class="accueil-absolute">
        <div class="wrapper">
            <div class="accueil-content">
                <h1>Kevin Robert</h1>
                <h3 class="tagline">Développeur/Designer junior</h3>
                <a href="#" class="btn">Venez voir mes créations</a>
            </div>
        </div>
    </div>
</section>

<section class="projets">
    <div class="wrapper">
        <h2>Mes projets</h2>

        <div class="projet">
            <div class="projet-header">
                <h4>Refonte du site web de la Baie-Sainte-Catherine</h4>

                <div class="projet-logiciels">
                    <svg class="icon icon--lg">
                        <use xlink:href="#icon-html"></use>
                    </svg>
                    <svg class="icon icon--lg">
                        <use xlink:href="#icon-css"></use>
                    </svg>
                    <svg class="icon icon--lg">
                        <use xlink:href="#icon-javascript"></use>
                    </svg>
                    <svg class="icon icon--lg">
                        <use xlink:href="#icon-figma"></use>
                    </svg>
                </div>
            </div>

            <div class="projet-flex">
                <img src="assets/images/code_baie-sainte-catherine.jpg" alt="Code" class="image-absolute" />
                <img src="assets/images/mockup_baie-sainte-catherine.jpg" alt="Mockup Baie-Sainte-Catherine" />

                <div class="images-colonne">
                    <img src="assets/images/acordeon_baie-sainte-catherine.jpg" alt="Acordéon" />
                    <img src="assets/images/prototype_baie-sainte-catherine.jpg" alt="Prototype" />
                </div>

                <div class="projet-content">
                    <p>Design, prototypage et développement d'une refonte d'un site web désuet.</p>
                    <a href="detail.html" class="btn">En voir plus</a>
                </div>
            </div>
            <p class="projet-type">Programmation web | Design</p>
        </div>

        <div class="projet">
            <div class="projet-header">
                <h4>Curation de contenu vidéos et design</h4>

                <div class="projet-logiciels">
                    <svg class="icon icon--lg">
                        <use xlink:href="#icon-figma"></use>
                    </svg>
                    <svg class="icon icon--lg">
                        <use xlink:href="#icon-photoshop"></use>
                    </svg>
                </div>
            </div>

            <div class="projet-flex">
                <img src="assets/images/prototype_wargaming.jpg" alt="Prototype" class="image-absolute" />
                <img src="assets/images/mockup_wargaming.jpg" alt="Mockup Wargaming" />

                <div class="images-colonne">
                    <img src="assets/images/galerie_wargaming.jpg" alt="Galerie" />
                    <img src="assets/images/acceuil_wargaming.jpg" alt="Accueil" />
                </div>

                <div class="projet-content">
                    <p>Design et prototypage d’une application de curation de contenu vidéo sur l’univers de Warhammer 40K .</p>
                    <a href="detail.html" class="btn">En voir plus</a>
                </div>
            </div>
            <p class="projet-type">Prototypage | Design</p>
        </div>

        <div class="projet">
            <div class="projet-header">
                <h4>TimConf</h4>

                <div class="projet-logiciels">
                    <svg class="icon icon--lg">
                        <use xlink:href="#icon-html"></use>
                    </svg>
                    <svg class="icon icon--lg">
                        <use xlink:href="#icon-css"></use>
                    </svg>
                    <svg class="icon icon--lg">
                        <use xlink:href="#icon-javascript"></use>
                    </svg>
                    <svg class="icon icon--lg">
                        <use xlink:href="#icon-wordpress"></use>
                    </svg>
                </div>
            </div>

            <div class="projet-flex">
                <img src="assets/images/code_baie-sainte-catherine.jpg" alt="Code" class="image-absolute" />
                <img src="assets/images/mockup_timconf.jpg" alt="Mockup TimConf" />

                <div class="images-colonne">
                    <img src="assets/images/conferenciers_timconf.jpg" alt="Conférenciers" />
                    <img src="assets/images/hero_timconf.jpg" alt="Hero" />
                </div>

                <div class="projet-content">
                    <p>Programmation et intégration sur Wordpress d’un site de conférences.</p>
                    <a href="detail.html" class="btn">En voir plus</a>
                </div>
            </div>
            <p class="projet-type">Programmation web | Wordpress</p>
        </div>

        <div class="projet">
            <div class="projet-header">
                <h4>Chatastrophe : <br />Animation multimédia</h4>

                <div class="projet-logiciels">
                    <svg class="icon icon--lg">
                        <use xlink:href="#icon-blender"></use>
                    </svg>
                    <svg class="icon icon--lg">
                        <use xlink:href="#icon-photoshop"></use>
                    </svg>
                </div>
            </div>

            <div class="projet-flex">
                <img src="assets/images/scene_chatastrophe.jpg" alt="Scene" class="image-absolute" />
                <img src="assets/images/presentation_chatastrophe.jpg" alt="Présentation" />

                <div class="images-colonne">
                    <img src="assets/images/feu_chatastrophe.jpg" alt="Feu" />
                    <img src="assets/images/chat_chatastrophe.jpg" alt="Chat" />
                </div>

                <div class="projet-content">
                    <p>Animation multimédia à partir de Blender ayant pour but le divertissement des plus jeunes.</p>
                    <a href="detail.html" class="btn">En voir plus</a>
                </div>
            </div>
            <p class="projet-type">Animation/Modélisation 3D</p>
        </div>

        <div class="projet">
            <div class="projet-header">
                <h4>Première rencontre</h4>

                <div class="projet-logiciels">
                    <svg class="icon icon--lg">
                        <use xlink:href="#icon-blender"></use>
                    </svg>
                    <svg class="icon icon--lg">
                        <use xlink:href="#icon-photoshop"></use>
                    </svg>
                </div>
            </div>

            <div class="projet-flex">
                <img src="assets/images/ovni_premiere-rencontre.jpg" alt="Ovni" class="image-absolute" />
                <img src="assets/images/presentation_premiere-rencontre.jpg" alt="Présentation" />

                <div class="images-colonne">
                    <img src="assets/images/modele_premiere-rencontre.jpg" alt="Modèle" />
                    <img src="assets/images/interface_premiere-rencontre.jpg" alt="Interface" />
                </div>

                <div class="projet-content">
                    <p>Animation d’un tank qui tombe sur une étrange découverte.</p>
                    <a href="detail.html" class="btn">En voir plus</a>
                </div>
            </div>
            <p class="projet-type">Animation/Modélisation 3D</p>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
