{% include '_partials/_header.html' %}

<!-- accueil -->
<section class="accueil">
    <div class="wrapper wrapper-large">
        <video src="assets/videos/Kevin_Robert_Anim_TP2.mp4" loop="loop" autoplay="autoplay" muted playsinline></video>
    </div>
    <div class="accueil-absolute">
        <div class="wrapper">
            <div class="accueil-content">
                <h1>Kevin Robert</h1>
                <h3 class="tagline">Développeur/Designer junior</h3>
                <a href="#" class="btn">Venez voir mes créations</a>
            </div>
        </div>
    </div>
</section>

<section class="projets">
    <div class="wrapper">
        <h2>Mes projets</h2>

        <div class="projet">
            <div class="projet-header">
                <h4>Refonte du site web de la Baie-Sainte-Catherine</h4>

                <div class="projet-logiciels">
                    <svg class="icon icon--lg">
                        <use xlink:href="#icon-html"></use>
                    </svg>
                    <svg class="icon icon--lg">
                        <use xlink:href="#icon-css"></use>
                    </svg>
                    <svg class="icon icon--lg">
                        <use xlink:href="#icon-javascript"></use>
                    </svg>
                    <svg class="icon icon--lg">
                        <use xlink:href="#icon-figma"></use>
                    </svg>
                </div>
            </div>

            <div class="projet-flex">
                <img src="assets/images/code_baie-sainte-catherine.jpg" alt="Code" class="image-absolute" />
                <img src="assets/images/mockup_baie-sainte-catherine.jpg" alt="Mockup Baie-Sainte-Catherine" />

                <div class="images-colonne">
                    <img src="assets/images/acordeon_baie-sainte-catherine.jpg" alt="Acordéon" />
                    <img src="assets/images/prototype_baie-sainte-catherine.jpg" alt="Prototype" />
                </div>

                <div class="projet-content">
                    <p>Design, prototypage et développement d'une refonte d'un site web désuet.</p>
                    <a href="detail.html" class="btn">En voir plus</a>
                </div>
            </div>
            <p class="projet-type">Programmation web | Design</p>
        </div>

        <div class="projet">
            <div class="projet-header">
                <h4>Refonte du site web de la Baie-Sainte-Catherine</h4>

                <div class="projet-logiciels">
                    <svg class="icon icon--lg">
                        <use xlink:href="#icon-html"></use>
                    </svg>
                    <svg class="icon icon--lg">
                        <use xlink:href="#icon-css"></use>
                    </svg>
                    <svg class="icon icon--lg">
                        <use xlink:href="#icon-javascript"></use>
                    </svg>
                    <svg class="icon icon--lg">
                        <use xlink:href="#icon-figma"></use>
                    </svg>
                </div>
            </div>

            <div class="projet-flex">
                <img src="assets/images/code_baie-sainte-catherine.jpg" alt="Code" class="image-absolute" />
                <img src="assets/images/mockup_baie-sainte-catherine.jpg" alt="Mockup Baie-Sainte-Catherine" />

                <div class="images-colonne">
                    <img src="assets/images/acordeon_baie-sainte-catherine.jpg" alt="Acordéon" />
                    <img src="assets/images/prototype_baie-sainte-catherine.jpg" alt="Prototype" />
                </div>

                <div class="projet-content">
                    <p>Design, prototypage et développement d'une refonte d'un site web désuet.</p>
                    <a href="detail.html" class="btn">En voir plus</a>
                </div>
            </div>
            <p class="projet-type">Programmation web | Design</p>
        </div>

        <div class="projet">
            <div class="projet-header">
                <h4>Refonte du site web de la Baie-Sainte-Catherine</h4>

                <div class="projet-logiciels">
                    <svg class="icon icon--lg">
                        <use xlink:href="#icon-html"></use>
                    </svg>
                    <svg class="icon icon--lg">
                        <use xlink:href="#icon-css"></use>
                    </svg>
                    <svg class="icon icon--lg">
                        <use xlink:href="#icon-javascript"></use>
                    </svg>
                    <svg class="icon icon--lg">
                        <use xlink:href="#icon-figma"></use>
                    </svg>
                </div>
            </div>

            <div class="projet-flex">
                <img src="assets/images/code_baie-sainte-catherine.jpg" alt="Code" class="image-absolute" />
                <img src="assets/images/mockup_baie-sainte-catherine.jpg" alt="Mockup Baie-Sainte-Catherine" />

                <div class="images-colonne">
                    <img src="assets/images/acordeon_baie-sainte-catherine.jpg" alt="Acordéon" />
                    <img src="assets/images/prototype_baie-sainte-catherine.jpg" alt="Prototype" />
                </div>

                <div class="projet-content">
                    <p>Design, prototypage et développement d'une refonte d'un site web désuet.</p>
                    <a href="detail.html" class="btn">En voir plus</a>
                </div>
            </div>
            <p class="projet-type">Programmation web | Design</p>
        </div>

        <div class="projet">
            <div class="projet-header">
                <h4>Refonte du site web de la Baie-Sainte-Catherine</h4>

                <div class="projet-logiciels">
                    <svg class="icon icon--lg">
                        <use xlink:href="#icon-html"></use>
                    </svg>
                    <svg class="icon icon--lg">
                        <use xlink:href="#icon-css"></use>
                    </svg>
                    <svg class="icon icon--lg">
                        <use xlink:href="#icon-javascript"></use>
                    </svg>
                    <svg class="icon icon--lg">
                        <use xlink:href="#icon-figma"></use>
                    </svg>
                </div>
            </div>

            <div class="projet-flex">
                <img src="assets/images/code_baie-sainte-catherine.jpg" alt="Code" class="image-absolute" />
                <img src="assets/images/mockup_baie-sainte-catherine.jpg" alt="Mockup Baie-Sainte-Catherine" />

                <div class="images-colonne">
                    <img src="assets/images/acordeon_baie-sainte-catherine.jpg" alt="Acordéon" />
                    <img src="assets/images/prototype_baie-sainte-catherine.jpg" alt="Prototype" />
                </div>

                <div class="projet-content">
                    <p>Design, prototypage et développement d'une refonte d'un site web désuet.</p>
                    <a href="detail.html" class="btn">En voir plus</a>
                </div>
            </div>
            <p class="projet-type">Programmation web | Design</p>
        </div>

        <div class="projet">
            <div class="projet-header">
                <h4>Refonte du site web de la Baie-Sainte-Catherine</h4>

                <div class="projet-logiciels">
                    <svg class="icon icon--lg">
                        <use xlink:href="#icon-html"></use>
                    </svg>
                    <svg class="icon icon--lg">
                        <use xlink:href="#icon-css"></use>
                    </svg>
                    <svg class="icon icon--lg">
                        <use xlink:href="#icon-javascript"></use>
                    </svg>
                    <svg class="icon icon--lg">
                        <use xlink:href="#icon-figma"></use>
                    </svg>
                </div>
            </div>

            <div class="projet-flex">
                <img src="assets/images/code_baie-sainte-catherine.jpg" alt="Code" class="image-absolute" />
                <img src="assets/images/mockup_baie-sainte-catherine.jpg" alt="Mockup Baie-Sainte-Catherine" />

                <div class="images-colonne">
                    <img src="assets/images/acordeon_baie-sainte-catherine.jpg" alt="Acordéon" />
                    <img src="assets/images/prototype_baie-sainte-catherine.jpg" alt="Prototype" />
                </div>

                <div class="projet-content">
                    <p>Design, prototypage et développement d'une refonte d'un site web désuet.</p>
                    <a href="detail.html" class="btn">En voir plus</a>
                </div>
            </div>
            <p class="projet-type">Programmation web | Design</p>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
