{% include '_partials/_header.html' %}

<!-- accueil -->
<section class="accueil">
    <div class="wrapper">
        <div class="video" data-component="YouTube" data-video-id="GsrwwbV3jU4">
            <div class="video__media js-video">
                <img class="js-poster" src="assets/images/poster-video.jpg" alt="Video" />
                <svg class="icon icon--stroke icon--xl">
                    <use xlink:href="#icon-play"></use>
                </svg>
            </div>
        </div>
        <div class="accueil-content">
            <h1>Kevin Robert</h1>
            <h3 class="tagline">Développeur/Designer junior</h3>
            <a href="#" class="btn">Venez voir mes créations</a>
        </div>
    </div>
</section>

<section class="projet">
    <div class="wrapper">
        <h2>Mes projets</h2>
        <div class="cards">
            <div class="card">
                <img src="assets/images/bg-hero.jpg" alt="Skieur étoile" />
                <div class="card-content">
                    <h3>Lorem</h3>
                    <p>aasdfdsafads</p>
                    <a href="detail.html" class="btn">Voir plus</a>
                </div>
            </div>
            <div class="card">
                <img src="assets/images/bg-hero.jpg" alt="Skieur étoile" />
                <div class="card-content">
                    <h3>Lorem</h3>
                    <p>aasdfdsafads</p>
                    <a href="#" class="btn">Voir plus</a>
                </div>
            </div>
            <div class="card">
                <img src="assets/images/bg-hero.jpg" alt="Skieur étoile" />
                <div class="card-content">
                    <h3>Lorem</h3>
                    <p>aasdfdsafads</p>
                    <a href="#" class="btn">Voir plus</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="competence">
    <div class="wrapper">
        <h2>Compétence</h2>
        <p>sdfdblniafgndaisofgdna</p>
    </div>
</section>

<section class="logiciel">
    <div class="wrapper">
        <h2>Logiciels</h2>
        <p>sdfdblniafgndaisofgdna</p>
    </div>
</section>

{% include '_partials/_footer.html' %}
