{% include '_partials/_header.html' %}
<section class="hero-projet" data-scrolly="scale">
    <img src="assets/images/hero2_timconf.jpg" alt="TimConf" />
    <div class="wrapper" data-scrolly="fromLeft">
        <h1>TimConf</h1>
        <h3 class="tagline">Développement web | Wordpress</h3>
        <a href="https://projets.krobert.ca/timconf/" target="_blank" class="btn">Visiter le site web</a>
    </div>
</section>

<section class="info-projet">
    <div class="wrapper">
        <div class="info-flex">
            <div class="info-content">
                <div class="card card-margin-left" data-scrolly="fromLeft">
                    <h3 class="legende legende-absolute">Travail étudiant</h3>
                    <h3 class="legende legende-absolute absolute-bottom" data-scrolly="fromRight">Crédit : unsplash</h3>
                    <h3 class="legende">Description</h3>
                    <p>Pour ce projet, j'ai intégré en PHP l'un de mes anciens travaux de conception web afin de créer un thème pour WordPress.</p>
                </div>
                <div class="card card-secondaire" data-scrolly="fromLeft">
                    <h3 class="legende">Logiciels</h3>
                    <ul>
                        <li>Figma</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                        <li>WordPress</li>
                    </ul>
                </div>
            </div>

            <video
                src="assets/videos/TimConf - Google Chrome 2023-10-20 19-36-37.mp4"
                loop="loop"
                autoplay="autoplay"
                muted
                playsinline
                data-scrolly="scale"
            ></video>
        </div>

        <div class="info-flex">
            <div class="swiper-legende" data-scrolly="fromLeft">
                <h3 class="legende">Galerie</h3>
                <div class="carousel swiper swiper-galerie" data-component="Carousel" data-loop data-autoplay data-gap="0">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="assets/images/hero_timconf.jpg" alt="Hero" /></div>
                        <div class="swiper-slide"><img src="assets/images/horaire_timconf.jpg" alt="Horaire" /></div>
                        <div class="swiper-slide"><img src="assets/images/conferenciers_timconf.jpg" alt="Conférenciers" /></div>
                    </div>

                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div>
                <div class="card card-margin-left" data-scrolly="fromRight">
                    <h3 class="legende">Processus de création</h3>
                    <p>
                        Avant de commencer l'intégration en PHP, j'ai réalisé un plan d'analyse de contenu, ce qui a grandement facilité la création des Custom
                        Post Types et des Advanced Custom Fields.
                    </p>
                </div>

                <div class="card card-secondaire" data-scrolly="fromLeft">
                    <h3 class="legende">Compétence</h3>
                    <p>Lors de ce projet, j'ai rassemblé tout ce que j'ai appris sur WordPress et PHP pour créer un thème complètement personnalisable.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="integration">
    <div class="wrapper">
        <div class="card" data-scrolly="fromLeft">
            <h3 class="legende">Intrégration PHP</h3>
            <p>Avec ce projet, j'ai grandement amélioré ma capacité à intégrer les multiples éléments de PHP comme les boucles, les menus et les répéteurs.</p>
        </div>

        <div class="flex-modal">
            <div class="modal-conteneur" data-component="Modal">
                <svg class="icon icon--md">
                    <use xlink:href="#icon-zoom"></use>
                </svg>
                <img src="assets/images/front-page_timconf.jpg" alt="front-page" class="modal-image" data-scrolly="scale" />
                <p data-scrolly="fromLeft">front-page.php</p>
                <div class="modal">
                    <svg class="icon icon--md modal-x">
                        <use xlink:href="#icon-x"></use>
                    </svg>
                    <img src="assets/images/front-page_timconf.jpg" alt="front-page" class="modal-content" />
                </div>
            </div>

            <div class="modal-conteneur" data-component="Modal">
                <svg class="icon icon--md">
                    <use xlink:href="#icon-zoom"></use>
                </svg>
                <img src="assets/images/header_timconf.jpg" alt="Header" class="modal-image" data-scrolly="scale" />
                <p data-scrolly="fromLeft">header.php</p>
                <div class="modal">
                    <svg class="icon icon--md modal-x">
                        <use xlink:href="#icon-x"></use>
                    </svg>
                    <img src="assets/images/header_timconf.jpg" alt="Header" class="modal-content" />
                </div>
            </div>

            <div class="modal-conteneur" data-component="Modal">
                <svg class="icon icon--md">
                    <use xlink:href="#icon-zoom"></use>
                </svg>
                <img src="assets/images/single-conferencier_timconf.jpg" alt="single-conferencier" class="modal-image" data-scrolly="scale" />
                <p data-scrolly="fromLeft">single-conferencier.php</p>
                <div class="modal">
                    <svg class="icon icon--md modal-x">
                        <use xlink:href="#icon-x"></use>
                    </svg>
                    <img src="assets/images/single-conferencier_timconf.jpg" alt="single-conferencier" class="modal-content" />
                </div>
            </div>
        </div>

        <div class="swiper-legende" data-scrolly="scale">
            <h3 class="legende">WordPress</h3>
            <div class="carousel swiper swiper-responsive" data-component="Carousel" data-loop data-gap="0" data-autoplay="">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="assets/images/acf_timconf.jpg" alt="ACF" />
                    </div>
                    <div class="swiper-slide"><img src="assets/images/repeteur_timconf.jpg" alt="Répeteur" /></div>
                    <div class="swiper-slide"><img src="assets/images/cpt_timconf.jpg" alt="CPT" /></div>
                </div>

                <div class="swiper-pagination"></div>
            </div>
        </div>

        <a href="https://projets.krobert.ca/timconf/" target="_blank" class="btn" data-scrolly="scale">Visiter le site web</a>
    </div>
</section>
{% include '_partials/_footer.html' %}
