{% include '_partials/_header.html' %}
<section class="hero-projet" data-scrolly="scale">
    <img src="assets/images/hero_timtools.jpg" alt="TimTools" />
    <div class="wrapper" data-scrolly="fromLeft">
        <h1>TimTools</h1>
        <h3 class="tagline">Développement web | Documentation</h3>
        <a href="https://projets.krobert.ca/timtools/" target="_blank" class="btn">Visiter le site web</a>
    </div>
</section>

<section class="info-projet">
    <div class="wrapper">
        <div class="info-flex">
            <div class="info-content">
                <div class="card card-margin-left" data-scrolly="fromLeft">
                    <h3 class="legende legende-absolute">Travail étudiant</h3>
                    <h3 class="legende">Description</h3>
                    <p>
                        Pour ce projet, j'ai documenté des composantes que j'ai créées dans le but que quelqu'un d'autre pourrait les utiliser s'il travaille
                        sur le même projet que moi.
                    </p>
                </div>
                <div class="card card-secondaire" data-scrolly="fromLeft">
                    <h3 class="legende">Langages</h3>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                    </ul>
                </div>
            </div>

            <video
                src="assets/videos/Documentation _ timtools - Google Chrome 2023-10-06 02-30-15.mp4"
                loop="loop"
                autoplay="autoplay"
                muted
                playsinline
                data-scrolly="scale"
            ></video>
        </div>

        <div class="info-flex">
            <div class="swiper-legende" data-scrolly="fromLeft">
                <h3 class="legende">Galerie</h3>
                <div class="carousel swiper swiper-galerie" data-component="Carousel" data-loop data-autoplay data-gap="0">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="assets/images/carousel_timtools.jpg" alt="Carousel" /></div>
                        <div class="swiper-slide"><img src="assets/images/header_timtools.jpg" alt="Header" /></div>
                        <div class="swiper-slide"><img src="assets/images/scrolly_timtools.jpg" alt="Scrolly" /></div>
                    </div>

                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div>
                <div class="card card-margin-left" data-scrolly="fromRight">
                    <h3 class="legende">Processus de création</h3>
                    <p>
                        Avant de commencer l'intégration du site web, j'ai créé un PDF avec tout le contenu que contient le site web. De cette manière, le
                        processus d'intégration est beaucoup plus rapide.
                    </p>
                </div>

                <div class="card card-secondaire" data-scrolly="fromLeft">
                    <h3 class="legende">Compétence</h3>
                    <p>
                        Cette documentation m'a permis d'apprendre à mieux expliquer mon travail à quelqu'un qui n'a pas nécessairement les mêmes connaissances
                        sur ce sujet. J'ai même pu l'utiliser plus tard lors d'un travail d'équipe.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="integration">
    <div class="wrapper">
        <div class="card" data-scrolly="fromLeft">
            <h3 class="legende">Code JavaScript</h3>
            <p>
                Au cours de mes études, j'ai dû développer plusieurs composantes qui incluent du JavaScript. En les regroupant tous dans un projet, il est plus
                facile de les réutiliser dans des projets futurs pour économiser du temps.
            </p>
        </div>

        <div class="flex-modal">
            <div class="modal-conteneur" data-component="Modal">
                <svg class="icon icon--md">
                    <use xlink:href="#icon-zoom"></use>
                </svg>
                <img src="assets/images/header-js_timtools.jpg" alt="Composante Header" class="modal-image" data-scrolly="scale" />
                <p data-scrolly="fromLeft">Composante Header</p>
                <div class="modal">
                    <svg class="icon icon--md modal-x">
                        <use xlink:href="#icon-x"></use>
                    </svg>
                    <img src="assets/images/header-js_timtools.jpg" alt="JavaScript Header" class="modal-content" />
                </div>
            </div>

            <div class="modal-conteneur" data-component="Modal">
                <svg class="icon icon--md">
                    <use xlink:href="#icon-zoom"></use>
                </svg>
                <img src="assets/images/factory_timtools.jpg" alt="Component Factory" class="modal-image" data-scrolly="scale" />
                <p data-scrolly="fromLeft">Component Factory</p>
                <div class="modal">
                    <svg class="icon icon--md modal-x">
                        <use xlink:href="#icon-x"></use>
                    </svg>
                    <img src="assets/images/factory_timtools.jpg" alt="Component Factory" class="modal-content" />
                </div>
            </div>

            <div class="modal-conteneur" data-component="Modal">
                <svg class="icon icon--md">
                    <use xlink:href="#icon-zoom"></use>
                </svg>
                <img src="assets/images/carousel-js_timtools.jpg" alt="Composante Carousel" class="modal-image" data-scrolly="scale" />
                <p data-scrolly="fromLeft">Composante Carousel</p>
                <div class="modal">
                    <svg class="icon icon--md modal-x">
                        <use xlink:href="#icon-x"></use>
                    </svg>
                    <img src="assets/images/carousel-js_timtools.jpg" alt="Composante Carousel" class="modal-content" />
                </div>
            </div>
        </div>

        <div class="swiper-legende" data-scrolly="scale">
            <h3 class="legende">Documentation</h3>
            <div class="carousel swiper swiper-responsive" data-component="Carousel" data-loop data-gap="0" data-autoplay="">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="assets/images/doc1_timtools.jpg" alt="Documentation 1" />
                    </div>
                    <div class="swiper-slide"><img src="assets/images/doc2_timtools.jpg" alt="Documentation 2" /></div>
                    <div class="swiper-slide"><img src="assets/images/doc3_timtools.jpg" alt="Documentation 3" /></div>
                </div>

                <div class="swiper-pagination"></div>
            </div>
        </div>

        <a href="https://projets.krobert.ca/timtools/" target="_blank" class="btn" data-scrolly="scale">Visiter le site web</a>
    </div>
</section>
{% include '_partials/_footer.html' %}
