{% include '_partials/_header.html' %}
<section class="hero">
    <div class="wrapper">
        <div class="hero-content">
            <div class="titre">
                <h1>Kevin Robert</h1>
                <h3 class="tagline">Développeur/Designer junior</h3>
            </div>
            <p>Je suis un finissant de la technique d’intégration multimédias à la recherche d’un stage de fin d’études. Au cours de mes études, j’ai développé une affinité pour le développement web et j’aimerais en faire mon métier.</p>
        </div>
    </div>
    <img src="assets/images/kevin.jpg" alt="Kevin Robert" />
</section>

{% include '_partials/_footer.html' %}
