{% include '_partials/_header.html' %}
<section class="hero">
    <div class="wrapper">
        <div class="hero-content">
            <div class="titre">
                <h1>Kevin Robert</h1>
                <h3 class="tagline">Développeur/Designer junior</h3>
            </div>
            <p>
                Je suis un finissant de la technique d’intégration multimédias à la recherche d’un stage de fin d’études. Au cours de mes études, j’ai développé
                une affinité pour le développement web et j’aimerais en faire mon métier.
            </p>
            <div class="graffiti">
                <img src="assets/images/graffiti-moi.png" alt="Moi" />
                <img src="assets/images/graffiti-fleche.png" alt="fleche" />
            </div>
        </div>
    </div>
    <img src="assets/images/kevin.jpg" alt="Kevin Robert" />
</section>

<section class="resume">
    <div class="wrapper">
        <h2>Résumé</h2>

        <div class="cards">
            <div>
                <div class="card card-margin-left">
                    <h3 class="legende legende-absolute">
                        Patient <br />
                        Adaptatif
                    </h3>
                    <h3 class="legende">Compétence</h3>
                    <ul>
                        <li>Développement web</li>
                        <li>Intégration web</li>
                        <li>Design web</li>
                        <li>Animation 3D</li>
                        <li>Analyse logique</li>
                        <li>Résolution de problème</li>
                    </ul>
                </div>

                <h3 class="legende">
                    Perséverant <br />
                    Soucieux <br />
                    Humble
                </h3>
            </div>

            <div class="card card-margin-top">
                <h3 class="legende">Logiciels</h3>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>WordPress</li>
                    <li>Figma</li>
                    <li>Photoshop</li>
                    <li>Blender</li>
                </ul>

                <div class="card card-secondaire">
                    <h3 class="legende">Objectif</h3>
                    <p>Je cherche une équipe dynamique et créative afin de m’améliorer en tant que développeur</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="loisirs">
    <div class="wrapper">
        <h2>Loisirs</h2>
        <div>
            <div class="loisir-1">
                <img src="assets/images/clavier.jpg" alt="Clavier" class="image" />
                <img src="assets/images/graffiti-jeux.png" alt="Jeux vidéo" class="legende-graffiti" />
            </div>

            <div class="loisir-2">
                <img src="assets/images/figurine.jpg" alt="Figurine" class="image" />
                <img src="assets/images/graffiti-figurine.png" alt="Peindre des miniatures" class="legende-graffiti" />
            </div>
        </div>

        <div class="loisir-3">
            <img src="assets/images/basse.jpg" alt="Basse" class="image" />
            <img src="assets/images/graffiti-musique.png" alt="Musique" class="legende-graffiti" />
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
