{% include '_partials/_header.html' %}
<section class="hero">
    <img src="assets/images/bg-hero.jpg" alt="Skieur étoile" />
    <div class="wrapper">
        <h1>Kevin Robert</h1>
        <p>descriptions</p>
    </div>
    <section>
        <div class="wrapper">
            <h3>Mes qualités</h3>
            <p>grgsgsgd</p>

            <h3>Mes passions</h3>
            <div class="cards">
                <div class="card">
                    <img src="assets/images/bg-hero.jpg" alt="Skieur étoile" />
                    <div class="card-content">
                        <h4>Lorem</h4>
                        <p>aasdfdsafads</p>
                    </div>
                </div>
                <div class="card">
                    <img src="assets/images/bg-hero.jpg" alt="Skieur étoile" />
                    <div class="card-content">
                        <h4>Lorem</h4>
                        <p>aasdfdsafads</p>
                    </div>
                </div>
                <div class="card">
                    <img src="assets/images/bg-hero.jpg" alt="Skieur étoile" />
                    <div class="card-content">
                        <h4>Lorem</h4>
                        <p>aasdfdsafads</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

{% include '_partials/_footer.html' %}
