{% include '_partials/_header.html' %}
<section class="hero-projet" data-scrolly="scale">
    <img src="assets/images/hero_wargaming.jpg" alt="Wargaming" />
    <div class="wrapper" data-scrolly="fromLeft">
        <h1>Curation de contenu vidéos et Design</h1>
        <h3 class="tagline">Prototypage | Design</h3>
        <a href="#figma" class="btn">Visiter la maquette</a>
    </div>
</section>

<section class="info-projet">
    <div class="wrapper">
        <div class="info-flex">
            <div class="info-content">
                <div class="card card-margin-left" data-scrolly="fromLeft">
                    <h3 class="legende legende-absolute">Travail étudiant</h3>
                    <h3 class="legende legende-absolute absolute-bottom" data-scrolly="fromRight">
                        Crédit : Games <br />
                        Workshop
                    </h3>
                    <h3 class="legende">Description</h3>
                    <p>Ce projet a pour principal but de faire de la curation de contenu vidéo sur l’univers de Warhammer 40K.</p>
                </div>
                <div class="card card-secondaire" data-scrolly="fromLeft">
                    <h3 class="legende">Logiciels</h3>
                    <ul>
                        <li>Figma</li>
                        <li>Photoshop</li>
                    </ul>
                </div>
            </div>

            <video
                src="assets/videos/Maquettes et prototype - 1021_robert_kevin_TP3 - Figma 2023-10-05 19-33-48.mp4"
                loop="loop"
                autoplay="autoplay"
                muted
                playsinline
                data-scrolly="scale"
            ></video>
        </div>

        <div class="info-flex">
            <div class="swiper-legende" data-scrolly="fromLeft">
                <h3 class="legende">Direction artistique</h3>
                <div class="carousel swiper swiper-galerie" data-component="Carousel" data-loop data-autoplay data-gap="0">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="assets/images/da1_wargaming.jpg" alt="Moodboard" /></div>
                        <div class="swiper-slide"><img src="assets/images/da2_wargaming.jpg" alt="Contenu" /></div>
                        <div class="swiper-slide"><img src="assets/images/da3_wargaming.jpg" alt="Plan" /></div>
                    </div>

                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div>
                <div class="card card-margin-left" data-scrolly="fromRight">
                    <h3 class="legende">Processus créatif</h3>
                    <p>Pour ce projet, j'ai cherché une esthétique futuriste et à la fois ancienne avec l'utilisation de textures.</p>
                </div>

                <div class="card card-secondaire" data-scrolly="fromLeft">
                    <h3 class="legende">Compétence</h3>
                    <p>
                        Ce projet m'a permis de faire un bond dans ma compétence en design en apprenant à mieux utiliser les textures pour donner de la vie à
                        mes projets.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="integration">
    <div class="wrapper">
        <div class="card" data-scrolly="fromLeft">
            <h3 class="legende">Wireframe</h3>
            <p>J'ai conçu des wireframes en version tablette afin d'optimiser au mieux l'expérience des utilisateurs de cette application.</p>
        </div>

        <div class="flex-modal">
            <div class="modal-conteneur" data-component="Modal">
                <svg class="icon icon--md">
                    <use xlink:href="#icon-zoom"></use>
                </svg>
                <img src="assets/images/wireframe1_wargaming.jpg" alt="Wireframe Article" class="modal-image" data-scrolly="scale" />
                <p data-scrolly="fromLeft">Article</p>
                <div class="modal">
                    <svg class="icon icon--md modal-x">
                        <use xlink:href="#icon-x"></use>
                    </svg>
                    <img src="assets/images/wireframe1_wargaming.jpg" alt="Wireframe Article" class="modal-content" />
                </div>
            </div>

            <div class="modal-conteneur" data-component="Modal">
                <svg class="icon icon--md">
                    <use xlink:href="#icon-zoom"></use>
                </svg>
                <img src="assets/images/wireframe2_wargaming.jpg" alt="Wireframe Liste Article" class="modal-image" data-scrolly="scale" />
                <p data-scrolly="fromLeft">Liste des articles</p>
                <div class="modal">
                    <svg class="icon icon--md modal-x">
                        <use xlink:href="#icon-x"></use>
                    </svg>
                    <img src="assets/images/wireframe2_wargaming.jpg" alt="Wireframe Liste Article" class="modal-content" />
                </div>
            </div>

            <div class="modal-conteneur" data-component="Modal">
                <svg class="icon icon--md">
                    <use xlink:href="#icon-zoom"></use>
                </svg>
                <img src="assets/images/wireframe3_wargaming.jpg" alt="Wireframe Menu" class="modal-image" data-scrolly="scale" />
                <p data-scrolly="fromLeft">Menu</p>
                <div class="modal">
                    <svg class="icon icon--md modal-x">
                        <use xlink:href="#icon-x"></use>
                    </svg>
                    <img src="assets/images/wireframe3_wargaming.jpg" alt="Wireframe Menu" class="modal-content" />
                </div>
            </div>
        </div>

        <div class="swiper-legende" data-scrolly="scale">
            <h3 class="legende">Prototypage</h3>
            <div class="carousel swiper swiper-responsive" data-component="Carousel" data-loop data-gap="0" data-autoplay="">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="assets/images/prototypage1_wargaming.jpg" alt="Prototypage" />
                    </div>
                    <div class="swiper-slide"><img src="assets/images/prototypage2_wargaming.jpg" alt="Prototypage" /></div>
                    <div class="swiper-slide"><img src="assets/images/prototypage3_wargaming.jpg" alt="Prototypage" /></div>
                </div>

                <div class="swiper-pagination"></div>
            </div>
        </div>

        <iframe
            style="border: 1px solid rgba(0, 0, 0, 0.1)"
            width="100%"
            height="850"
            src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FLgC3T1nleRl3R9OK8os8e8%2F1021_robert_kevin_TP3%3Fpage-id%3D1260%253A199%26type%3Ddesign%26node-id%3D1582-464%26viewport%3D244%252C469%252C0.15%26t%3DAylOedT6wzHdAiV3-1%26scaling%3Dscale-down%26starting-point-node-id%3D1571%253A450%26mode%3Ddesign"
            allowfullscreen
            id="figma"
        ></iframe>
    </div>
</section>
{% include '_partials/_footer.html' %}
